![imagen](img/python.jpg)

# Python Basics I


Bienvenido a tu primer asalto con Python. En este notebook encontrarás los primeros pasos para empezar a familiarizarte con este lenguaje.

1. [Variables](#1.-Variables)
2. [Print](#2.-Print)
3. [Comentarios](#3.-Comentarios)
4. [Flujos de ejecución](#4.-Flujos-de-ejecución)
5. [Del](#5.-Del)
6. [Tipos de los datos](#6.-Tipos-de-los-datos)
7. [Conversión de tipos](#7.-Conversión-de-tipos)
8. [Input](#8.-Input)
9. [None](#9.-None)
10. [Sintaxis y best practices](#10.-Sintaxis-y-best-practices)
11. [Resumen](#11.-Resumen)

## 1. Variables
Empezamos nuestra aventura en Python declarando variables. ¿Qué es esto y para qué sirve? Simplemente es una manera de etiquetar los datos del programa. Empezaremos declarando variables muy simples, como números y texto, pero acabaremos implementando estructuras más complejas.


### Variables numéricas

In [7]:
ingresos = 1000
gastos = 400

**Esto es una asignación**. A la palabra *ingresos*, le asignamos un valor mediante `=`.
Si queremos ver el valor de la variable, simplemente escribimos su nombre en una celda.

In [12]:
ingresos

1000

ingresos = 1000

### Cadenas de texto
Las cadenas de texto se declaran con comillas simples o dobles

In [13]:
ingresos_texto = "Los ingresos del año han sido altos"
ingresos_texto_2 = 'Los ingresos del año han sido altos'

Python es un lenguaje dinámico por lo que simpre podremos actualizar los valores de las variables. **Se recomienda usar nombres descriptivos para declarar las variables, pero no excesivamente largos**. Así evitamos sobreescribirlas sin querer.

Por otro lado, cuidado con los caracteres ele y uno (`l` vs `1`), así como con cero y o (`0` vs `O`). Se suelen confundir.

fatal vs fata1

clarO vs clar0

Reasignamos valor a gastos

In [14]:
gastos = 200

In [15]:
gastos

200

Ahora la variable gastos vale 200. Si la última línea de una celda es una variable, su valor será el *output* de la celda: 200.

Vale, ¿y de qué nos sirve guardar variables?

Podremos usar estos datos posteriormente, en otro lugar del programa. Por ejemplo, si ahora en una celda nueva queremos obtener el beneficio, simplemente restamos los nombres de las variables

In [16]:
beneficio = ingresos - gastos
print(beneficio)

800

El `print` sirve para ver el output de la celda, imprimiendo valores por pantalla. Lo veremos en el siguiente apartado.

Si has programado en otros lenguajes, te llamará la atención que en Python no hay que especificar los tipos de los datos cuando declaramos una variable. No tenemos que decirle a Python que *ingresos* es un valor numerico o que *ingresos_texto* es una cadena de texto. Python lo interpreta y sabe qué tipo de datos son. Cada variable tiene su tipo de datos ya que **Python es un lenguaje fuertemente tipado**. Lo veremos más adelante, en el apartado *Tipos de datos*.

<table align="left">
 <tr><td width="80"><img src="img/error.png" style="width:auto;height:auto"></td>
     <td style="text-align:left">
         <h3>ERRORES en variables</h3>
         
 </td></tr>
</table>

### Escribir mal el nombre
Un error típico cuando declaramos variables es **escribir su nombre mal, o llamar despues a la variable de forma errónea**. En tal caso, aparece un `NameError: name 'variable_que_no_existe' is not defined`

In [17]:
gstos

NameError: name 'gstos' is not defined

Fíjate que te indica la línea donde se produce el error, el tipo de error (`NameError`), y una breve descripción del error.

### Cerrar bien los strings
Cuidado tambien cuando definamos una cadena de texto, y se nos olvide cerrarla con sus correspondientes comillas. Nos dará un `SyntaxError: EOL while scanning string literal` (End Of Line)

In [18]:
gastos_texto = "Los gastos del año han sido bajos

SyntaxError: unterminated string literal (detected at line 1) (3536580935.py, line 1)

### Prohibido espacios en los nombres de las variables
También dará error si tenemos un espacio en la declaración de la variable. Se recomienda mínusculas y guiones bajos para simular los espacios.

**Los espacios que encuentres alrededor del igual se pueden usar perfectamente**. Es pura estética a la hora de leer el código.

In [19]:
nueva variable = "variable errónea"

SyntaxError: invalid syntax (1303245103.py, line 1)

### Números en el nombre de la variable
Ojo con los números cuando declaremos variables. En ocasiones es determinante describir nuestra variable con algún número. En tal caso, ponlo siempre al final del nombre de la variable, ya que sino saltará un error.

In [20]:
900

900

In [21]:
2022_ingresos = 900

SyntaxError: invalid decimal literal (1244075823.py, line 1)

### Sensible a mayusculas
Mucho cuidado con las mayusculas y minusculas porque Python no las ignora. Si todas las letras de una variable están en mayusculas, tendremos que usarla en mayusculas, sino dará un error de que no encuentra la variable.

In [22]:
ingresos_2022 = 900
print(Ingresos_2022)

NameError: name 'Ingresos_2022' is not defined

### Palabras reservadas
En Python, como en otros lenguajes, hay una serie de palabras reservadas que tienen un significado para el intérprete de Python y por lo tanto no podemos usar para ponerle nombre a nuestras variables.

Por ejemplo, `def` se usa para definir funciones en Python (lo veremos en otros notebooks), por lo que no podemos emplear `def` para nombrar a nuestras variables

In [24]:
var = 9
print(var)

9

In [25]:
def = 9

SyntaxError: invalid syntax (1735230505.py, line 1)

Consulta la lista de palabras reservadas de Python

In [26]:
import keyword
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

### Resumen variables
En resumen:
* Usar minusculas. Sensible a mayusculas/minusculas
* No usar espacios
* No usar palabras reservadas
* No usar numeros al principio de la variable
* Cuidado con los caracteres `l`, `1`, `O`, `0`

<table align="left">
 <tr><td width="80"><img src="img/ejercicio.png" style="width:auto;height:auto"></td>
     <td style="text-align:left">
         <h3>Ejercicio variables</h3>

      
<ol>
    <li>Crea un programa que almacene tu nombre y tus apellidos en dos variables diferentes. </li>
    <li>Guarda tu edad en otra variable</li>
    <li>Modifica la variable de tu edad</li>
    <li>Comprueba que todas las variables tienen los valores que les corresponde</li>
</ol>
         
 </td></tr>
</table>

In [27]:
nombre = "Alberto"
apellido = "Romero"
edad = 40
edad = 18

print(nombre)
print(apellido)
print(edad)

Alberto
Romero
18

In [35]:
print(nombre, apellido, edad, sep="\n") # spoiler!

Alberto
Romero
18

## 2. Print

Hasta ahora hemos visto en Jupyter dos tipos de celdas:
* **Markdown**: básicamente texto para las explicaciones
* **Código**: donde insertamos el código Python y lo ejecutamos

Las celdas de código, no solo corren el código y realizan todas las operaciones que le indiquemos, sino que también tienen un output, una salida de ese código. Tenemos dos opciones para ver el output del código, o bien mediante `print`, o poniendo una variable al final de la celda. En este último caso, veremos el valor de esa variable

In [30]:
print(ingresos)
print(gastos)
print("Los beneficios han sido:")
beneficio

1000
200
Los beneficios han sido:

800

Si hacemos un print de un texto, podemos concatenar valores de variables mediante `%s`.

In [38]:
mes = "septiembre"
print("Los beneficios de %s han sido de %s millones" % (mes, beneficio))

Los beneficios de septiembre han sido de 800 millones

Otra opcion si queremos imprimir por pantalla varios strings, es separandolos por comas en el `print`. Fíjate que le añade espacios en la salida cada vez que ponemos un valor nuevo entre comas.

In [39]:
mes = "agosto"
print("Los beneficios de", mes, "han sido de", beneficio)

Los beneficios de agosto han sido de 800

In [45]:
v = ""
len(v)

0

## 3. Comentarios
Se trata de texto que va junto con el código, y que el intérprete de Python ignora por completo. Muy útil para documentar y explicar el código

In [54]:
# comentario de una linea, va con almohadilla
# print("este print lo ignora")
print("Este sí se ejecuta")

'''
comentario
multilinea
'''


"""
otro comentario
multilinea, pero con comillas dobles
"""

t = 7

Este sí se ejecuta

In [61]:
a = "hola"
b = """ hola, ¿qué tal?"""
"""hola,
¿qué tal?
lalala lalala
   lelele"""

#print("abc\n\ndef", 7)
print(1,2,3)
print()
print(4,5,6)
# "" no es lo mismo que None

1 2 3

4 5 6

In [63]:
type("") # "abc", 'abc', mi_string_vacio = ''   0, 0.0, None, ""
type(None)

NoneType

**IMPORTATE**. SIEMPRE comentar el código. Nunca sabes quén lo puede heredar. Te dejo en [este link](https://realpython.com/python-comments-guide/) una guía interesante sobre cómo comentar tu código.

## 4. Flujos de ejecución
Los programas de Python se ejecutan secuencialmente, por lo que el orden en el que escribas las operaciones es determinante

In [64]:
ventas_jun_jul = ventas_junio + ventas_julio
ventas_junio = 100
ventas_julio = 150

NameError: name 'ventas_junio' is not defined

**Da error**, primero tenemos que declarar las ventas, y luego sumarlas.

**¿Cuándo acaba una línea de código?**. El salto de línea lo interpreta Python como una nueva instrucción. En muchos lengujes, como Java hay que especificar el fin de la sentencia de código mediante `;` o con `,`. En Python no es necesario, aunque se puede usar igualmente.

In [66]:
altura = 1.80; color = "castano"
print(altura)
print(color)

x, y, z = 1, 2, "hola"
print(z)

1.8
castano
hola

In [71]:
""""
lalala
lelele
""";

## 5. Del
Es la sentencia que usaremos para borrar una variable. La verdad, no se suelen borrar variables. Vamos desarrollando los programas de Python sin preocuparnos de limpiar aquellas variables que no usamos. Normalmente no borrarlas no suele ser un problema, pero cuando manejamos un gran volumen de datos, podemos sufrir problemas de rendimiento ya que **las variables ocupan memoria**.

Cuando las variables son las que hemos visto hasta ahora, no pasa nada, pero si son más pesadas, como por ejemplo datasets de imágenes que ocupan mucho, sí va a venir bien eliminar aquellas que no usemos.

In [72]:
altura = 1.80
del altura
print(altura)

NameError: name 'altura' is not defined

## 6. Tipos de los datos
Python es un lenguaje fuertemente tipado. Eso significa que las variables que usamos pertenecen a un tipo de datos: numero entero (int), real (float), texto (String), u otro tipo de objetos.

**¿Por qué es importante saber bien de que tipos son los datos?** Porque cada tipo de dato tiene una serie propiedades y operaciones asociadas. Por ejemplo, a un texto no lo puedo sumar 5. Por lo que cuando vayamos a hacer operaciones entre ellos, tenemos que asegurarnos de que son del mismo tipo para que el resultado sea el esperado. `texto + 5` no tiene sentido y va a dar error. Parece obvio, pero hay ocasiones en las que los tipos de los datos no son los esperados.

**¿Cuántos tipos de datos hay?** Básicamente aquí no hay límites. En este notebook veremos los más básicos, pero en notebooks posteriores verás que puedes crearte tus propios tipos de datos mediante las **clases**. En Python hay una serie de tipos de datos básicos, que podremos usar sin importar ningun módulo externo, son los llamados [*built-in Types*](https://docs.python.org/3/library/stdtypes.html). Estos son los más comunes:

* **Numérico**: tenemos `int`, `float` y `complex`. Dependiendo de si es un numero entero, uno real o un complejo.
* **String**: o Cadena. Cadena de texto plano
* **Booleano**: o Lógico. `True`/`False`

**¿Cómo sabemos el tipo de datos de una variable?** Mediante `type(nombre_variable)`

### Numéricos

Bien, es un ***int***, un número entero. Si lo que quiero es un numero real, es decir, que tenga decimales, le añado un punto

In [76]:
numero = 22.0
type(numero)

float

Aunque no le haya añadido decimales como tal, ya le estoy diciendo a Python que esta variable es un numero real (***float***).

Algunas operaciones básicas que podemos hacer con los numeros:
* Sumar: `+`
* Restar: `-`
* Multiplicar: `*`
* Dividir: `/`
* Elevar: `**`
* Cociente division: `//`
* Resto de la división: `%`

In [89]:
#built-in function --> función --> "verbo", acción
print(7, "hola", True, False, 8.2)

7 hola True False 8.2

In [92]:
type(True)

bool

In [99]:
type(print)

builtin_function_or_method

In [94]:
a = 7
print(a)

7

In [85]:
type(type(5 // 2))

type

In [107]:
print(type(2))

<class 'int'>

In [ ]:
# input --> METODO --> return
# print
# "hola" --> lo imprime --> None

In [112]:
resultado = 2 + 3
print(resultado)

5

In [115]:
largo = print("hola y adiós")
print(largo)

12

In [114]:
print(print("hola"))

hola
None

In [64]:
print("Sumas/restas")
print(1 + 2)
print(1.0 + 2) # Fijate que cuando fuerzo a que alguno de los numeros sea float, el resultado es float
print(1 + 2.0)
print(1-2)

print("Multiplicaciones/Divisiones")
print(2 * 2)
print(2.0 * 2) # Ocurre lo mismo que en las sumas, cuando ponemos uno de los numeros como float.
print(2/2) # Al hacer la división, directamente convierte el numero en float, a pesar de que los dos son enteros y el resultado también.
print(1000/10)

print("Resto de la división")
print(10/3)
print(int(10/3)) # Me quedo con el entero de la division
print(10 % 3) # Me quedo con el resto de la division

Sumas/restas
3
3.0
3.0
-1
Multiplicaciones/Divisiones
4
4.0
1.0
100.0
Resto de la división
3.3333333333333335
3
1

In [120]:
int(2.9)

2

In [121]:
round(2.9)

3

In [119]:
10 // 1.5

6.0

### Strings
El tercer tipo de datos más común es el *String*, o cadena de texto. Hay varias maneras de declararlo:

In [122]:
# con comillas dobles
cadena = "esto es una cadena de texto"

# con comillas simples
cadena = 'las comillas simples también valen'
type(cadena)

str

Si da la casualidad de que en el texto hay comillas, tenemos la posibilidad de que Python las interprete como parte del texto y no como comando de inicio/cierre de String

In [123]:
# comillas dobles si en el texto hay simples
print("String con comillas simples dentro ' ' ' ")

# Tres comillas dobles si en el texto hay comillas dobles
print("""String con comillas dobles dentro " " " """)

String con comillas simples dentro ' ' '
String con comillas dobles dentro " " "

En ocasiones queremos poner saltos de línea o tabulaciones en los prints, o simplemente en una variable de tipo String. Para ello usamos los [*escape characters*](https://www.w3schools.com/python/gloss_python_escape_characters.asp) como `\n` para saltos de línea o `\t` para tabulaciones.

In [134]:
print("Primera linea \n SegundaLinea\n\tTercera linea tabulada ")

Primera linea
 SegundaLinea
	Tercera linea tabulada

Para unir dos variables de tipo String, simplemente usamos el `+`

In [135]:
nombre = "Juan"
apellido = "Garcia"
nombre_apellido = nombre + " " + apellido
print(nombre_apellido)

Juan Garcia

### Booleano
Por último, el cuarto tipo de datos basiquísimo es el *booleano*: `True`/`False`. Para que Python reconoza este tipo de datos, hay que escribirlos con la primera letra en mayúscula

In [136]:
ya_se_mucho_python = True
type(ya_se_mucho_python)

bool

Tipos de datos hay muchos, verás más adelante cómo crear tus propios tipos de datos mediante las clases y los objetos. Pero por ahora, quédate con los tipos de datos más simples:
* **int**: entero
* **float**: real
* **str**: cadena de texto
* **booleano**: true/false

En otros lenguajes de programación el valor numérico suele ir más desagregado dependiendo del volumen del mismo. No es lo mismo tener un `double`, que un `float`. Por suerte en Python no hay que preocuparse de eso :)

Veamos más ejemplos

In [84]:
print(type(1))
print(type(1.0))
print(type(-74))
print(type(4/1)) # Aunque haga division de enteros, Python automáticamente los convierte a float
print(type("Cadena de texto"))
print(type("-74"))
print(type(True))
print(type(False))

<class 'int'>
<class 'float'>
<class 'int'>
<class 'float'>
<class 'str'>
<class 'str'>
<class 'bool'>
<class 'bool'>

<table align="left">
 <tr><td width="80"><img src="img/error.png" style="width:auto;height:auto"></td>
     <td style="text-align:left">
         <h3>ERRORES en tipos de datos</h3>
         
 </td></tr>
</table>

In [85]:
print("Lleva comillas " dobles". Da fallo")

SyntaxError: invalid syntax (Temp/ipykernel_22956/1062059221.py, line 1)

## 7. Conversión de tipos
Como en otros lenguajes, en Python también tenemos la posibilidad de realizar conversiones entre los tipos de datos. Hasta ahora hemos visto pocos, pero cuando descubramos más tipos de datos y objetos, verás que son muy comunes estas transformaciones.

Un caso muy habitual es leer un archivo datos numéricos, y que Python interprete los números como caracteres. No es un error, pero posteriormente, cuando hagamos operaciones con nuestros números, tendremos errores, ya que en realidad son cadenas de texto. Si forzamos el cambio a numerico, nos evitaremos futuros problemas.

**Mucho cuidado en los cambios de tipos**. Tenemos que estar seguros de lo que hacemos ya que podemos perder información, o lo más probable, puede dar error, al no ser compatible el cambio.

Veamos como cambiar los tipos

In [87]:
numero_real = 24.69
print(type(numero_real))

numero_entero = int(numero_real)
print(type(numero_entero))
print(numero_entero)

<class 'float'>
<class 'int'>
24

In [147]:
int("11")

11

Perdemos unos decimales, normalmente nada grave, aunque depende de la aplicación.

**NOTA**: si lo que queremos es redondear, podemos usar la función `round()`

In [148]:
# Esta funcion tiene dos argumentos: el número y la cantidad de decimales que queremos conservar.
# Veremos funciones más adelante.
round(24.69845785, 1)

24.7

Para pasar de un **numero a string**, no hay problema

In [149]:
real = 24.69
entero = 5

real_str = str(real)
entero_str = str(entero)

print(real_str)
print(type(real_str))

print(entero_str)
print(type(entero_str))

24.69
<class 'str'>
5
<class 'str'>

De **String a un número** tampoco suele haber problema. Hay que tener mucho cuidado con los puntos de los decimales. **Puntos, NO comas**

In [150]:
print("98")
print(type(int("98")))

print(float("98.25"))
print(type(float("98.25")))

# por supuesto, no hay problema en declarar como float un numero entero como es el 98

print(float("98"))
print(type(float("98")))

98
<class 'int'>
98.25
<class 'float'>
98.0
<class 'float'>

Pasar de **numero a boleano y viceversa**, tambien es bastante sencillo. Simplemente ten en cuenta que los 0s son `False`, y el resto de numeros equivalen a un `True`

In [78]:
print(bool(1))
print(bool(1.87))
print(bool(1000))
print(bool(-75))
print(bool(0))

print(int(True))
print(int(False))

print(float(True))
print(float(False))

print(complex(True))
print(complex(False))

True
True
True
True
False
1
0
1.0
0.0
(1+0j)
0j

En el caso de transformar **String a booleano**, los strings vacíos serán `False`, mientras que los que tengan cualquier cadena, equivaldrán a `True`.

Sin embargo, si la operación es la inversa, el booleano `True` pasará a valer una cadena de texto como `True`, y para `False` lo mismo.

In [79]:
print(bool(""))
print(bool("Cadena de texto"))

verdadero = True
print(verdadero)
print(type(verdadero))

verdadero_str = str(verdadero)
print(verdadero_str)
print(type(verdadero_str))

False
True
True
<class 'bool'>
True
<class 'str'>

<table align="left">
 <tr><td width="80"><img src="img/error.png" style="width:auto;height:auto"></td>
     <td style="text-align:left">
         <h3>ERRORES en conversion de tipos</h3>
         
 </td></tr>
</table>

Ojo si intentamos pasar a entero un string con pinta de real. En cuanto lleva el punto, ya tiene que ser un numero real. A no ser que lo pasemos a real y posteriormente a entero (`int()`), o usando el `round()` como vimos anteriormente

In [151]:
print(int("98.25"))

ValueError: invalid literal for int() with base 10: '98.25'

In [ ]:
# "98.25" --> 98.25 --> 98

Si leemos datos con decimales y tenemos comas en vez de puntos, habrá errores.

In [92]:
float("98,25")

ValueError: could not convert string to float: '98,25'

In [ ]:
# billón --> 10 ** 6 * 10 ** 6 = 10 ** 12
# billion --> 1000 * 10& = 10**3 * 10 **6 = 10 ** 9

Para solventar esto utilizaremos funciones que sustituyan unos caracteres por otros

In [82]:
mi_numero = "98,25"
print(mi_numero)
print(type(mi_numero))

mi_numero_punto = mi_numero.replace(",", ".")  # "98,25".replace(",", ".")
print(mi_numero_punto)
print(type(mi_numero_punto))

mi_numero_float = float(mi_numero_punto)
print(mi_numero_float)
print(type(mi_numero_float))

98,25
<class 'str'>
98.25
<class 'str'>
98.25
<class 'float'>

Es fudndamental operar con los mismos tipos de datos. Mira lo que ocurre cuando sumamos texto con un numero. Da un `TypeError`. Básicamente nos dice que no puedes concatenar un texto con un numero entero

In [83]:
"4" + 6

TypeError: can only concatenate str (not "int") to str

<table align="left">
 <tr><td width="80"><img src="img/ejercicio.png" style="width:auto;height:auto"></td>
     <td style="text-align:left">
         <h3>Ejercicio tipos de datos</h3>

      
<ol>
    <li>Crea una variable de tipo String en la que se incluyan unas comillas dobles </li>
    <li>Comprueba su tipo</li>
    <li>Crea otro string guardándolo en otra variable, y prueba a sumarlos</li>
    <li>Ahora declara una variable entera. Imprímela por pantalla</li>
    <li>Cambia el tipo de la variable entera a float. Imprime por pantalla tanto la nueva variable obtenida, como su tipo</li>
</ol>
         
 </td></tr>
</table>

In [156]:
import numpy as np
lista = ["Alejandro", "Alejo", "Alfonso","Borja", "Cristina", "Guillermo", "Jaume", "Jio", "Santiago Corell", "Rafa", "Santiago Jorda", "Paloma"]
np.random.choice(lista)

'Jaume'

In [157]:
mi_var = """texto con "" dobles"""
print(type(mi_var))

mi_var2 = " Otro texto"

mi_var + mi_var2

entera = 4

print(float(entera))
print(type(float(entera)))

<class 'str'>
4.0
<class 'float'>

## 8. Input
Esta sentencia se usa en Python para recoger un valor que escriba el usuario del programa. Los programas suelen funcionar de esa manera, reciben un input, realizan operaciones, y acaban sacando un output para el usuario.

Por ejemplo, en la siguiente celda recojo un input, que luego podremos usar en celdas posteriores.

**CUIDADO**. Si corres una celda con un `input()` el programa se queda esperando a que el usuario meta un valor. Si en el momento en el que está esperando, vuelves a correr la misma celda, se te puede quedar pillado, depende del ordendaor/versión de Jupyter. Si eso ocurre, pincha en la celda y dale despues al botón de stop de arriba, o sino a Kernel -> Restart Kernel...

In [160]:
primer_input = input()

In [161]:
print(primer_input)

7

Puedes poner ints, floats, strings, lo que quieras recoger en texto plano.

Mira que fácil es hacer un chatbot un poco tonto, mediante el que hacemos preguntas al usuario, y almacenamos sus respuestas.

In [167]:


nombre = input("¿Como te llamas?")
print( "Encantado de saludarte %s" % (nombre) )


feedback = input("¿Que te esta pareciendo Python?")
print("Coincido")

print(feedback)

Encantado de saludarte Alberto
Coincido
Genial

<table align="left">
 <tr><td width="80"><img src="img/error.png" style="width:auto;height:auto"></td>
     <td style="text-align:left">
         <h3>ERRORES con input</h3>
         
 </td></tr>
</table>

In [88]:
"""
Por defecto, el input del usuario es de tipo texto. Habrá que convertirlo a numerico con int(numero_input)
o con float(numero_input). Lo vemos en el siguiente notebook.
"""
numero_input = input("Introduce un numero")
numero_input + 4

TypeError: can only concatenate str (not "int") to str

<table align="left">
 <tr><td width="80"><img src="img/ejercicio.png" style="width:auto;height:auto"></td>
     <td style="text-align:left">
         <h3>Ejercicio input</h3>

En este ejemplo vamos a simular un chatbot al que le haremos pedidos de pizzas.
<ol>
    <li>El chatbot tiene que saludar con un: "Buenas tardes, bienvenido al servicio de pedido online, ¿Cuántas pizzas desea?"</li>
    <li>El ususario tiene que introducir un número de pizzas en una variable llamada 'pizz'</li>
    <li>Respuesta del chatbot: "Estupendo, se están preparando 'pizz' pizzas. Digame su dirección"</li>
    <li>El ususario tiene que introducir una direccion en formato String en otra variable llamada 'direcc'</li>
    <li>Respuesta final del chatbot: "Le mandaremos las 'pizz' pizzas a la dirección 'direcc'. Muchas gracias por su pedido."</li>
</ol>
         
 </td></tr>
</table>

In [168]:
pizz = input("Buenas tardes, bienvenido al servicio de pedido online, ¿Cuántas pizzas desea?")
direcc = input("Estupendo, se están preparando " + pizz + " pizzas. Digame su dirección")
print("Le mandaremos las", pizz,"pizzas a la dirección",direcc,". Muchas gracias por su pedido.")

Le mandaremos las 8 pizzas a la dirección avenida de Valencia . Muchas gracias por su pedido.

## 9. None
Palabra reservada en Python para designar al valor nulo. `None` no es 0, tampoco es un string vacio, ni `False`, simplemente es un tipo de datos más para representar el conjunto vacío.

In [98]:
print(None)
print(type(None))

None
<class 'NoneType'>

## 10. Sintaxis y best practices
A la hora de escribir en Python, existen ciertas normas que hay que tener en cuenta:
* Todo lo que abras, lo tienes que cerrar: paréntesis, llaves, corchetes...
* Los decimales se ponen con puntos `.`
* Best practices
    * **Caracteres**: NO se recomienda usar Ñs, acentos o caracteres raros (ª,º,@,ç...) en el codigo. Ponerlo únicamente en los comentarios.
    * **Espacios**: NO usar espacios en los nombres de las variables ni de las funciones. Se recomienda usar guión bajo para simular el espacio. O también juntar las palabras y usar mayuscula para diferenciarlas `miVariable`. Lo normal es todo minúscula y guiones bajos
    * Ahora bien, sí se recomienda usar espacios entre cada comando, para facilitar la lectura, aunque esto ya es más cuestión de gustos. `mi_variable = 36`.
    * Se suelen declarar las variables en minuscula.
    * Las constantes (variables que no van a cambiar nunca) en mayuscula. `MI_PAIS = "España"`
    * **Cada sentencia en una linea**. Se puede usar el `;` para declarar varias variables, pero no es lo habitual
    * **Comentarios**: TODOS los que se pueda. Nunca sabes cuándo otra persona va a coger tu espectacular código, o si tu *yo* del futuro se acordará de por qué hiciste ese bucle while en vez de un for.
    * **Case sensitive**: sensible a mayusculas y minusculas. CUIDADO con esto cuando declaremos variables o usemos Strings
    * **Sintaxis de línea**: para una correcta lectura del codigo lo mejor es aplicar sintaxis de línea en la medida de lo posible

In [99]:
# A esto nos referimos con sintaxis de línea
lista_compra = ['Manzanas',
               'Galletas',
               'Pollo',
               'Cereales']

### The Zen of Python
Cualquier consejo que te haya podido dar hasta ahora se queda en nada comparado con los 20 principios que definió *Tim Peters* en 1999. Uno de los mayores colaboradores en la creación de este lenguaje

In [169]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

## 11. Resumen

In [101]:
# Declarar variables
var = 10

# Reasignar valores
var = 12

# Imprimir por pantalla
print("Primera linea")
print("Variable declarada es:", var)
print("Variable declarada es: %s" %(var))

"""
Comentarios
Multilínea
"""

# Eliminar variables
del var

# Tipos de datos
print("\n") # Simplemente para que haya un salto de linea en el output
print(type(1)) # Int
print(type(1.0)) # Float
print(type("1")) # String
print(type(True)) # Boolean

# Conversiones de tipos
print("\n")
var2 = 4
print(type(var2))
var2 = str(var2)
print(type(var2))
var2 = bool(var2)
print(type(var2))

# El valor nulo
print(None)

# Input de variables
var3 = input("Inserta variable ")

Primera linea
Variable declarada es: 12
Variable declarada es: 12


<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>


<class 'int'>
<class 'str'>
<class 'bool'>
None